/** { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    user-select: none; 
}

body { 
    height: 100vh; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    background-color: #D5ECD4; 
    font-family: 'Helvetika Neue', "Arial", sans-serif; 
    font-size: 28px; 
}

.ui-container { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.counter { 
    text-transform: uppercase; 
    color: #fff; 
    font-weight: bold; 
    font-size: 3rem; 
}

.btn-list { 
    display: flex; 
    align-items: center; 
    margin: 1rem; 
}

.btn { 
    cursor: pointer; 
    min-width: 4em; 
    padding: 1em; 
    border-radius: 5px; 
    text-align: center; 
    margin: 0 1rem; 
    box-shadow: 0 6px #929487; 
    color: white; 
    background-color: #C3DAC3; 
    position: relative; 
    font-weight: bold; 
}

.btn:hover { 
    box-shadow: 0 4px #828477; 
    top: 2px; 
}

.btn:active { 
    box-shadow: 0 1px #8b5e00; 
    top: 5px; 
}

.txt { 
    cursor: text; 
    min-width: 6em; 
    padding: 1em; 
    border-radius: 5px; 
    text-align: center; 
    margin: 0 1rem; 
    box-shadow: 0 6px #929487; 
    color: white; 
    background-color: #C3DAC3; 
    position: relative; 
    font-weight: bold; 
}

.txt:hover { 
    box-shadow: 0 4px #828477; 
    top: 2px; 
}

.txt:active { 
    box-shadow: 0 1px #8b5e00; 
    top: 5px; 
}*/
